*{
    margin: 0%;
    bottom: 0%;
    font-size: 1.1vw;
    display :inline-flex;
}

@media (max-width: 500px){
    body{
        margin-bottom: 0.5rem;
        font-size: 0.5vw;
        display:inherit;
        background-color: #8FCCC5;;
    }

    img{
        display:none;
    }

    .item1 {

    }

    }

.item1 {

    block-size: 83vh;
    padding-left: 8vh;
    padding-right:16vh;
    padding-bottom:16vh ;
    padding-top: 10vh;
    background-color: #8FCCC5;
}


.navigation{
    position:absolute;
    list-style-type: none;  /* Noktayi kaldirmak icin */
}

.item3 {

    margin-left: -8%;
    margin-top: 10%;
    margin-bottom: 17%;
    display: block;
}



a:hover {
    filter:invert(70%);
}

ul {
    /* display:flex; bu kisim sayesinde listeyi yatirdik */
    margin:0;
    padding:0;
   }

li {
    list-style-type: none;
    flex-basis: 33%;
    padding: 20px 15px;
    box-sizing: border-box;
    text-align:center;
}

img.round {
    border-radius: 20%;
    object-fit: cover;
    box-shadow: 0 0 20px 8px #d0d0d0;
    width: 30vw;
}

p {
    padding-top: 40%;
    padding-left: 30%;
    padding-right: 35%;
}