*{
    margin: 0%;
    bottom: 0%;
    font-size: 1.1vw;
}

@media (max-width: 500px){
    body{
        margin-bottom: 0.5rem;
        font-size: 0.5vw;
        display:;
    }
}

.flex-container {
    background-color: #F7F2DE;
    display :inline-flex;
    /* flex-wrap: nowrap; */
}

.item1 {
    position: static;
    padding-left: 8vh;
    padding-right:8vh;
    padding-bottom:7vh ;
    background-color: #8FCCC5;
}

.item3 {
    margin-left: -8%;
    margin-top: 10%;
}

.navigation{
    padding-top: 70vh;
    list-style-type: none;  /* Noktayi kaldirmak icin */
}

a:hover {
    filter:invert(70%);
}

ul {
    display:flex; /* bu kisim sayesinde listeyi yatirdik */
    margin:0;
    padding:0;
   }

li {
    list-style-type: none;
    flex-basis: 33%;
    padding: 20px 15px;
    box-sizing: border-box;
    text-align:center;
}

img.round {
    border-radius: 20%;
    object-fit: cover;
    box-shadow: 0 0 20px 8px #d0d0d0;
    width: 30vw;
}

p {
    padding-top: 40%;
    padding-left: 30%;
    padding-right: 35%;
}